<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TextUtils</title>
  </head>
  <body>
    <h1>Welcome to Text Analyser. Enter your text below:</h1>
    <form action="analyze">
      <textarea
        name="text"
        id=""
        style="height: 100px; margin: 0; width: 750px"
      ></textarea
      ><br />
      <input type="checkbox" name="removepunc" />Remove punctuation <br />
      <input type="checkbox" name="capup" />To upper case<br />
      <input type="checkbox" name="newlineremover" />Remove newline<br />
      <input type="checkbox" name="spaceremover" />Remove extra space<br />
      <input type="checkbox" name="charcounter" />Count character<br />
      <button type="submit">Analyse now</button>
    </form>
  </body>
</html>
